version: '3.8'

services:
  db:
    container_name: seafile_mysql
    image: mariadb:10.11
    environment:
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/seafile_mysql_root_password
      MYSQL_LOG_CONSOLE: 'true'
      MARIADB_AUTO_UPGRADE: 1
    volumes:
      - seafile-db:/var/lib/mysql
    secrets:
      - seafile_mysql_root_password
    labels:
      - "docker-volume-backup.stop-during-backup=seafile-db"
    healthcheck:
      test: healthcheck.sh --connect --mariadbupgrade --innodb_initialized
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 5
    deploy:
      restart_policy:
        condition: on-failure

  redis:
    container_name: seafile_redis
    image: redis:7
    healthcheck:
      test: redis-cli ping || exit 1
    deploy:
      restart_policy:
        condition: on-failure

  seafile:
    container_name: seafile
    image: seafileltd/seafile-mc:13.0-latest
    ports:
      - ${HTTP_PORT}:80
    volumes:
      - seafile-data:/shared
    environment:
      SEAFILE_MYSQL_DB_HOST: db
      SEAFILE_MYSQL_DB_PORT: 3306
      SEAFILE_MYSQL_DB_USER: ${SEAFILE_DB_USER}
      SEAFILE_MYSQL_DB_CCNET_DB_NAME: ccnet_db
      SEAFILE_MYSQL_DB_SEAFILE_DB_NAME: seafile_db
      SEAFILE_MYSQL_DB_SEAHUB_DB_NAME: seahub_db
      SEAFILE_SERVER_HOSTNAME: ${SEAFILE_SERVER_HOSTNAME}
      SEAFILE_SERVER_PROTOCOL: ${SEAFILE_SERVER_PROTOCOL}
      INIT_SEAFILE_ADMIN_EMAIL: ${SEAFILE_ADMIN_EMAIL}
      TIME_ZONE: Europe/Berlin
      NON_ROOT: 'false'
      ENABLE_SEADOC: 'false'
      ENABLE_GO_FILESERVER: 'true'
      CACHE_PROVIDER: redis
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_PASSWORD: ''
    command:
      - /bin/bash
      - -c
      - |
        export SEAFILE_MYSQL_DB_PASSWORD=$$(cat /run/secrets/seafile_db_password)
        export INIT_SEAFILE_MYSQL_ROOT_PASSWORD=$$(cat /run/secrets/seafile_mysql_root_password)
        export INIT_SEAFILE_ADMIN_PASSWORD=$$(cat /run/secrets/seafile_admin_password)
        export JWT_PRIVATE_KEY=$$(cat /run/secrets/seafile_jwt_private_key)
        exec /sbin/my_init -- /scripts/enterpoint.sh
    depends_on:
      - db
      - redis
    secrets:
      - seafile_mysql_root_password
      - seafile_db_password
      - seafile_admin_password
      - seafile_jwt_private_key
    labels:
      - "docker-volume-backup.stop-during-backup=seafile"
    healthcheck:
      test: curl -f http://localhost:80 || exit 1
      start_period: 30s
      interval: 15s
      timeout: 10s
      retries: 5
    deploy:
      restart_policy:
        condition: on-failure

volumes:
  seafile-data:
    external: true
    name: ${VOLUME_NAME_DATA}
  seafile-db:
    external: true
    name: ${VOLUME_NAME_DB}

secrets:
  seafile_mysql_root_password:
    external: true
  seafile_db_password:
    external: true
  seafile_admin_password:
    external: true
  seafile_jwt_private_key:
    external: true
