version: '3.8'

services:
  mealie:
    image: ghcr.io/mealie-recipes/mealie:latest
    container_name: mealie
    ports:
      - ${HTTP_PORT}:9000
    deploy:
      restart_policy:
        condition: on-failure
      resources:
        limits:
          memory: 1000M
    volumes:
      - mealie-data:/app/data/
    environment:
      PUID: 1000
      PGID: 1000
      TZ: Europe/Berlin
      BASE_URL: ${BASE_URL}

volumes:
  mealie-data:
    external: true
    name: ${VOLUME_NAME}